$primary-button: #e50914;
$primary-buttonHover: #ad070f;
$secondary: #141414;

$navBar-transparent: #141414b3;
$navBar-gradient: #00000000;
$background-overlay: #000000bf;
$white: #fff;
$white-hover: #e5e5e5;
$black: #000;
$card-color: #252525;
$buttonRound-color: #2a2a2a99;
$button-border: #ffffff80;
$greenText: #53d853;