@import './variables.scss';
@import './mixins.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  color: $white;

  .contentContainer {
    margin-left: 0.8rem;
  }
}
