@import './variables.scss';
@import './mixins.scss';

.listContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  text-transform: capitalize;
  z-index: 65;

  .arrowHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 50;
  }

  .category {
    @include fluid-type(0.88rem, 1.6rem);
    margin-left: 3rem;
    padding: 0.5rem 0;
  }

  .cardRow {
    display: flex;
    flex-direction: row;
    overflow: auto;
    z-index: 40;
    padding: 0.2rem 3rem 1rem;
    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      background-color: $card-color;
      height: 9rem;
      width: 16rem;
      border-radius: 0.28rem;
      padding: 0.2rem;
      margin-right: 0.4rem;
    }

    .longCard {
      background-color: $card-color;
      height: 24rem;
      width: 16rem;
      border-radius: 0.28rem;
      padding: 0.2rem;
      margin-right: 0.4rem;
    }
  }
}
