@import '../styles/variables.scss';

.cardContainer {
//   background-color: thistle;
  display: flex;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
  padding: 0 1rem;
  text-transform: capitalize;

  .cardRow {
      display: flex;
      flex-direction: row;
    .card {
      background-color: $card-color;
      height: 9rem;
      width: 16rem;
      border-radius: 0.28rem;
      padding: 0.2rem;
      margin-right: 0.4rem;
    }
    .longCard {
        background-color: $card-color;
        height: 24rem;
        width: 16rem;
        border-radius: 0.28rem;
        padding: 0.2rem;
        margin-right: 0.4rem;
      }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: turquoise;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
