@import '../styles/variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $secondary;

  .navBar {
    // background-color: $background-overlay;
    background-image: linear-gradient(to bottom, $navBar-transparent 10%, $navBar-gradient);
    transition: all 0.2s ease-out;
    opacity: 0.3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 1rem;
    position: sticky;
    top: 0;

    &__left,
    &__right {
      display: flex;
      flex-direction: row;
      color: $text;

      .options {
        padding: 0.3rem;
        margin-right: 0.2rem;
        cursor: pointer;
        transition: linear 200ms ease-in;

        &:hover {
          color: $text-hover;
        }
      }
    }
  }

  .spotlight {
    background-color: tan;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    background: linear-gradient(77deg, #00000099 0, rgba(0, 0, 0, 0) 85%);
  }
  }

  .bottomContainer {
    background-color: honeydew;
    height: 60%;
    z-index: 5;
    align-self: baseline;
    justify-self: end;
  }
}
